.scroll-pane > .viewport, .scroll-pane > .scroll-bar, .scroll-pane > .scroll-pane, .tree-view, .split-pane {
    -fx-background-color: lightblue;
    -fx-border-color: grey;
}
.BackgroundColor{
    -fx-background-color: lightblue;
}
.tree-cell {
    -fx-background-color: lightblue;
}



.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}


.button, .menu, .menu-bar, .menu-item {
linear-gradient(#38424b 0 %, #1f2429 20 %, #191d22 100 %),
linear-gradient(#20262b, #191d22),
radial-gradient(center 50 % 0 %, radius 100 %, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 5, 4, 3, 5;
    -fx-background-insets: 0, 1, 2, 0;
    -fx-background-color: lightblue;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-font-family: "Arial";
    -fx-font-size: 12px;
    -fx-padding: 1 2 1 2;
}

.label {
    -fx-font-family: David;
    -fx-font-size: 14px;
}



