.left {
    height: 95%;
    width: 25%;
    position: fixed;
    z-index: 1;
    left: 50px;
    bottom: 0%;
}

.right {
    height: 95%;
    width: 25%;
    position: fixed;
    z-index: 1;
    right: 200px;
    bottom: 0%;
}

.branches select menu{
    height: 70%;
    position: fixed;
    z-index: 1;
    bottom: 100PX;
}